name: CI for main

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build-and-test:
    runs-on: ubuntu-24.04-arm

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Build Docker image
        run: |
          docker build -t leo .
      - name: Build compiler 
        run: |
          docker run --rm -v "$(pwd)":/app leo ./build-leocc.sh
      - name: Run ARM tests 
        run: |
          docker run --rm -v "$(pwd)":/app leo ./test.sh
      - name: Run LLVM tests
        run: |
          docker run --rm -v "$(pwd)":/app leo ./test_llvm.sh

