
FIX THE YAML ERROR, PROBABLY A LLVM-14/21 THING

name: CI for llvm_ir

on:
  push:
    branches: [ llvm_ir ]
  pull_request:
    branches: [ llvm_ir ]

jobs:
  build-and-test:
    runs-on: ubuntu-24.04-arm

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: RUN DOCKER
        run: |
          docker build -t leo .
          docker run --rm -it -v "$(pwd)":/app leo

      - name: Build leocc
        run: |
          mkdir build
          cd build
          cmake -G Ninja ..
          ninja
          cp ./leocc ../leocc
          

      - name: Run ARM backend tests (AArch64)
        env:
          LEO_RUN: ./tmp
          LEO_BACKEND: ""
        run: |
          set -ex
          ./test.sh

      - name: Run LLVM IR backend tests
        env:
          LEO_RUN: ./tmp
          LEO_BACKEND: "llvm"
        run: |
          set -ex
          ./test_llvm.sh
